html body{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding-top: 80px;
    scroll-padding-top: 80px;
    scroll-behavior: smooth;
}

/* Navigation layout */
.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: fit-content;
    top: 0px;
}

.navigation-logo img {
    height: 80px;
    width: auto
}

.navigation-buttons {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation-buttons li {
    display: inline-block;
    margin-right: 20px;
}

.navigation-buttons a {
    display: inline-block;
    margin-left: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navigation-buttons a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(32, 136, 254);
    text-decoration-thickness: 2px;
}

/* Initially hide nav-hide container */
.navigation-buttons#nav-hide {
    display: none;
}

/* Show nav-show container for larger screens */
@media screen and (min-width: 600px) {
    .navigation-buttons#nav-show {
        display: flex !important;
        align-items: center;
        /* Align items vertically */
    }
}

/* Show nav-hide container for smaller screens */
@media screen and (max-width: 599px) {
    .navigation-buttons#nav-show {
        display: none !important;
    }

    .navigation-buttons#nav-hide {
        display: flex !important;
        flex-wrap: wrap;
        align-items: center;
        /* Align items vertically */
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: rgb(0, 0, 0);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        text-decoration: underline;
        text-decoration-color: rgb(32, 136, 254);
        text-decoration-thickness: 2px;
    }


}

#header-wrapper {
    position: relative;
    display: flex;
    height: 60vh;
    overflow: hidden;
    /* Prevents overflow of child elements */
    width: 100%;
}

#header-wrapper img {
    max-width: 100%;
    /* Ensures the image does not exceed the container's width */
    height: auto;
    /* Maintains the aspect ratio of the image */
    object-fit: cover;
    /* Ensures the image covers the container without stretching */
    flex: 1;
}

.layer {
    background-color: rgba(2, 0, 3, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    text-align: center;
}

.header-content h1,
.header-content h2 {
    font-weight: normal;
}

.header-content h1 {
    font-size: 9vh;
}

.header-content h2 {
    font-size: 4vh;
}

.contact-button {
    display: inline-block;
    /* Make it a block-level element to apply padding and border-radius */
    padding: 10px 20px;
    /* Adjust padding as needed */
    background-color: rgb(32, 136, 254);
    /* Set background color */
    color: white;
    /* Set font color */
    text-decoration: none;
    /* Remove underline */
    border-radius: 20px;
    /* Apply rounded edges */
    margin-top: 20px;
}

.contact-button:hover {
    background-color: rgb(0, 101, 217);
    color: white;
    text-decoration: underline;
    /* Change background color on hover */
}

/* overlapple */
#overlapple {
    display: flex;
    /* Set display to flex to create a flex container */
    flex-wrap: wrap;
    padding: 20px;
    height: auto;
    width: 100%;
    background-color: rgba(242, 239, 236, 0.42);
}

.overlapple-columns {
    flex: 1;
    /* Set flex-grow, flex-shrink, and flex-basis to distribute space evenly */
    margin: 0 10px;
    /* Add margin between columns */
    text-align: center;
    /* Center align content */
}

.overlapple-columns img {
    height: 200px;
    width: 200px;
    margin: 10px;
    border-radius: 5%;
    /* Ensure images don't exceed the width of their container */
}

.overlapple-columns p {
    font-weight: bold;
}

/* About Me */
.introduction {
    background-color: rgba(242, 239, 236, 0.684);
    text-align: center;
    padding: 20px;
    height: auto;
    width: 100%;
}

#about-me p {
    margin-left: 5%;
    margin-right: 5%;
}

#about-me-image1,
#about-me-image3 {
    height: 200px;
    width: 200px;
    border-radius: 5px;
}

@media screen and (max-width: 700px) {

    #about-me-image1,
    #about-me-image3 {
        display: none !important;
    }
}

#about-me-image2 {
    height: 220px;
    width: 220px;
    border-radius: 5px;
}

.expertise-container {
    text-align: center;
    padding: 20px;
    background-color: rgba(242, 239, 236, 0.42);
}

.carousel-container {
    background-color: rgba(242, 239, 236, 0.684);
    height: auto;
    /* Adjust the height of the container as needed */
    width: 100%;
    /* Adjust the width of the container as needed */
    margin: 0 auto;
    /* Center the container horizontally */
    padding: 20px;
}

.gallery-text {
    text-align: center;
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

.slide img {
    max-height: 400px;
    width: auto;
    border-radius: 5px;
    transition: all 0.3s ease; 
}

#slick {
    display: none;
    height: auto;
    /* Adjust the height of the container as needed */
    width: auto;
    /* Adjust the width of the container as needed */
    margin: 0 auto;
    /* Center the container horizontally */
}

#slick.slick-initialized {
    display: block;
}

#slick .slick-slide {
    padding-right: 5px;
    padding-left: 5px;
}

#slick .slick-slide:focus {
    outline: none;
    cursor: grab;
}

.contact-options {
    text-align: center;
    /* Center the content horizontally */
    margin: 0 auto;
    /* Center the container horizontally */
    width: 100%;
    /* Adjust max-width as needed */
    background-color: rgba(242, 239, 236, 0.42);
}

.contact-options h3 {
    padding-top: 20px;
}

.contact-options p {
    margin-left: 5%;
    margin-right: 5%;
}


.contact-options ul {
    padding: 0;
    list-style: none;
    padding-bottom: 10px;
}

.contact-options li {
    margin-bottom: 10px;
}

.contact-options a {
    color: rgba(2, 0, 3, 0.7);
    /* Link text color */
    text-decoration: none;
    /* Remove underline from links */
}

.contact-options a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(32, 136, 254);
    text-decoration-thickness: 2px;
}


.social-options {
    background-color: rgba(2, 0, 3, 0.7);
    padding: 10px 0;
    /* Adjust padding as needed */
}

.social-options a {
    margin: 0 5px;
    /* Adjust margin between social icons */
}

.social-options img {
    width: 40px;
    /* Adjust image width as needed */
    height: auto;
    /* Maintain aspect ratio */
}

.social-options p {
    font-size: small;
    color: #f9f9f9;
    padding-top: 10px;
    margin-bottom: 0;
}